<!DOCTYPE html>
<html>
<head>
	<title> Medster | Doctor </title>
</head>
<body>
	<center>
		<h1> Add Doctor </h1><br>
		<form method="post">
			<table>
				<tr>
					<td style="padding-right: 20px"><b>Name: </b></td>
					<td><input type="text" name="name" placeholder="Enter Doctor's Name.." style="width: 250px"></td>
				</tr>
				<tr>
					<td style="padding-right: 20px"><b>Specialization: </b></td>
					<td><input type="text" name="specialization" placeholder="Enter Specialization.." style="width: 250px"></td>
				</tr>
			</table>
			<input type="submit">
		</form>
	</center>
</body>
</html>