<!DOCTYPE html>
<html>
<head>
	<title> Medster | Insurance </title>
</head>
<body>
	<center>
		<h1> Add Insurance Company </h1><br>
		<form method="post">
			<table>
				<tr>
					<td style="padding-right: 20px"><b>Company Name: </b></td>
					<td><input type="text" name="company" placeholder="Enter Company Name.." style="width: 250px"></td>
				</tr>
			</table>
			<input type="submit">
		</form>
	</center>
</body>
</html>