@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url("https://fonts.google.com/specimen/Cabin?query=cabin&sidebar.open=true&selection.family=Cabin:wght@600");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Khand:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

html {
    margin: 0 0;
    padding: 0 0;
}

body {
    overflow-x: hidden;
    font-family: "poppins", sans-serif;
}

/* -------------------------
    NAVBAR
   ------------------------- */

.custom-navbar {
    background: #f28f32;
    border-bottom: 1px solid #dddddd;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
}

.custom-navbar a {
    color: #000000;
    text-decoration: none;
}

.custom-navbar a:hover {
    color: #000000;
    text-decoration: none;
}

.custom-navbar .navbar-brand {
    padding: 0rem;
}

.custom-navbar .connect-btn {
    border: 1.5px solid #ffffff;
    border-radius: 100px;
    padding: 0.5rem 1.2rem;
    margin-top: 1rem;
}
.custom-navbar .connect-btn a {
    color: #ffffff !important ;
}
.nav-link1 a {
    color: #ffffff;
}
.custom-navbar .nav-link.nav-line {
    border-left: 1.5px solid #cccccc;
    margin: 0rem -2rem 0rem 1rem;
}

/* --- Navbar Ham Menu --- */

.custom-navbar .nav-link svg {
    width: 35px;
    height: 32px;
}

.custom-navbar .nav-link i {
    color: #4b4b4b;
}

.menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
    outline: none;
}

.line {
    fill: none;
    stroke: rgb(255, 255, 255);
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

.line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
}

.line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

.opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}

.opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
}

.opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}

@media only screen and (max-width: 768px) {
    .custom-navbar .nav-link {
        padding: 0.5rem 0.5rem;
    }

    .custom-navbar .connect-btn {
        padding: 0.5rem 0.8rem;
    }

    .custom-navbar .nav-link.nav-line {
        margin: 0rem -1rem 0rem 1rem;
    }
}

.form-group2 {
    margin-left: 38%;
    width: 25%;
    margin-top: 4rem;
}

.select-ins {
    color: #ffffff;
    font-size: 2rem;
    margin-top: 25%;
    margin-left: 40%;
}

.form-grouped {
    margin-left: 30rem;
    margin-right: 20rem;
    margin-top: 15%;
    max-width: 30%;
}
.form-group {
    margin-top: 2rem;
}
.form-grouped .inputemail {
    color: #ffffff;
    text-align: left;
}
.form-grouped .inputname {
    color: #ffffff;
    text-align: left;
}
.form-grouped .inputdob {
    color: #ffffff;
    text-align: left;
}
.form-grouped .inputcity {
    color: #ffffff;
    text-align: left;
}
